{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--  MY CSS  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Scrum board</title>
</head>
<body>
    <header>
        <a class="text-decoration-none" href="{% url 'home' %}"><h1 id="main-title">Scrum board</h1></a>
            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-auto">
                        <p class="btn btn-primary">USER: {{ user.username }}</p>
                    </div>
                    <div class="col col-lg-2">
                        <a class="btn btn-warning justify-content-end" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
                <div>
                    {% for board in user.boards.all %}
                    <a href="{% url 'board:board_detail' pk=board.pk %}">{{ board }}</a>
                    {% endfor %}
                </div>
            {% else %}
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-primary">Sign In</button>
                </a>
                <a href="{% url 'signup' %}">
                    <button type="button" class="btn btn-warning">Sign Up</button>
                </a>
            {% endif %}
    </header>
    <section>{% block content_block %}{% endblock %}</section>
</body>
</html>